*{
    margin: 0;
    padding: 0;
}
#sde{
    height: 720px;
}
#main{
    /* background-color: coral; */
    width: 80vw;
    height: 100vh;
}
#indexMain::before{
    /* background: url("/imagies/forntBg.jpg") no-repeat center/cover; */
    background: url("/imagies/bgindex.jpg") no-repeat center/cover;
    content: " ";
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0.5;
    top: 0px;
    left: 0%;
}
.sidebar{
    @import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&family=Roboto+Condensed:wght@700&display=swap');
    /* background-color: rgb(55, 155, 218); */
    background-image: linear-gradient(#27279c, rgb(184, 184, 226));
    width: 20vw;
    height: 100vh;
    transition: transform 0.3s ease-in;
    
}
.sideBarGo{
transform: translate(-434px,0px);
position: absolute;

}

.sidebar nav ul{
    padding: 50px;
}
.sidebar nav ul li {
    list-style: none;
    font-size: 19px;
    margin: 7px;
    padding: 19px 0px 42px 0px;
    font-weight: bolder;
}

.main{
 
    width: 80vw;
    background: fixed;

}
.info{
    /* background-color: blue; */
    height: 70vh;
    margin: 72px auto;
    width: 67vw;
    display: flex;
    justify-content: space-around;

}
.great {
    font-size: 4em;
    width: 24ch;
    overflow: hidden;
    color: rgb(0, 0, 0);
    /* font-family: monospace; */
    white-space: nowrap;
    border-right: 4px solid orange;
    animation: printed-text 5s steps(21), flashin-border .75s step-start infinite;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    text-shadow: 8px 0px 15px rgb(44 154 223);
}
  
  @keyframes flashin-border{
    0%{
      border-color: orange;
    }
    50%{
      border-color: transparent;
    }
    100%{
      border-color: orange;
    }
  }
  
  @keyframes printed-text{
    from {
      width: 0%;
    }
    to{
        width: 32%;
    }
  }
    


.name{
    font-size: 2.3em;
    font-weight: bold;
}
.about{
    font-size: 1.7em;
}
.contenor{
    display: flex;
}
.button button{
   
    margin: 1.5rem 1.9rem 0em 0em;
    padding: 1em;
    border-radius: 1.8em;
    font-size: 0.8em;
    color: black;
    background-image: linear-gradient(#3333d7,white);
    font-weight: bold;
    cursor: pointer;
}
.button button:hover{
   background-image: linear-gradient(#79c679,#c1c155);
    color:black;
}
.devpic img{
    height: 25rem;
    top: 7rem;
    width: 20rem;
    position: fixed;
    right: 5rem;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    @import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&family=Roboto+Condensed:wght@700&family=Source+Serif+Pro&display=swap');
    width: 58vw;
    height: 69vh;
}
.sidebar nav ul li a{
    text-decoration: none;
    color: white;
}


.sidebar nav ul li:hover{
    font-size: 24px;
    text-shadow: 7px 1px 6px black;
}

img{

    border-spacing: 1px;
    border-style: solid;
    border-color: honeydew;
    box-shadow: 0px 0px 8px palegoldenrod;
    border-right-width: thick;
}
.main .ham{
    font-size: 30px;
    position: absolute;
    top: 6px;
    left: 5px;
    cursor: pointer;

}
.main .ham .cross{
    position: absolute;
    left: 263px;

}
/* .fa-bar{

} */