.main {
  width: 136vw;
  height: 94rem;
  /* background: fixed; */
  background-image: repeating-linear-gradient(29deg, #00000033, #77303091 55px);
background-size: cover;
background-attachment: fixed;
}
.contectform {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.contectform h1 {
  font-size: 2rem;

}
#form{
  margin-top: 3rem;
}
.form-group{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1.5rem;
  margin-top: 20px;

}

.contectform input {
  border: 10px black;
  width: 33rem;
  height: 2rem;
  border-radius: 30px;
  text-align: center;
  font-size: 0.8em;
}
#form-check-input{

  width: 36px;
  height: 27px;
  padding-right: 0px;
  margin-right: 0px;

}
#form-check{

  position:relative;
  margin-top: 23px;
  margin-left: 0px;
  display: flex;
  flex-wrap: wrap;

}
.form-check-label{

  margin-left: 52px;

}
#emailHelp{
  font-size: initial;
}
.button button{
  margin-top: 70px;
    width: 9em;


}
.icons{
  margin-top: 2em;
  margin-right:5em;
}
.icons ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.icons ul li a{
  position: relative;
  width: 45px;
  height: 45px;
  display: block;
  text-align: center;
  margin: 0 12px;
  border-radius: 50%;
  padding: 11px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgb(92 59 59 / 79%);
  transition: .5s;
  font-size: 21px;
  color: #ffffff ;
}
.icons ul h5{

  margin-left: 0em;
  font-size: 0.9em;
}
.icons ul li{
    list-style: none;
}
.icons ul li a:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-decoration:none;
}
.icons ul li a .fab {
  width: 100%;
  height:100%;
  display:block;
  /* background: linear-gradient(0deg, #fff, #ddd); */
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size:24px;
  color: #262626;
  transition: .5s;
  font-weight: bold;
  color: #ebeef4;

}
.icons ul li:nth-child(2) a {


  background-image: linear-gradient(88deg,#020857,#2693c4);

}
.icons ul li:nth-child(2) a:hover {
  color: #000000;
}
.icons ul li:nth-child(3) a {

  background-image: linear-gradient(87deg,#041d07,#23ff00);
  color: #ebeef4;
}
.icons ul li:nth-child(3) a:hover {
  color: #000000;
}


.icons ul li:nth-child(4) a {

  background-image: linear-gradient(78deg,#121269,#5f0f7adb);
  color: #ebeef4;
}
.icons ul li:nth-child(4) a:hover {
  color: #000000;
}

.icons ul li:nth-child(5) a{
  background-image: linear-gradient(45deg,#930909,#c82aa9);
  color: #ebeef4;
}
.icons ul li:nth-child(5) a:hover {
  color: #000000;
}

#contectid{
  /* height: 90.5em; */
  height: auto;
}
@media only screen and (max-width: 600px) {#Scontect{
  height: 94rem;
}}
